// Div Tela Cadastro
.divCad {
  margin-top: 1em;
}

//
// Div Formulario
//
.divFormulario hr {
  margin: 0;
  margin-bottom: 0.5em;
}

// Div Logo
.divLogo {
  text-align: center;
}

.divLogo img {
  max-width: 10em;
}

// Formulario
.formulario {
  margin-top: 2em;
}

// Botoes
.rowBotoes{
  margin: 0px;
}
.rowBotoes button{
  margin-right: 6px;
}

// Imagem Lateral
.divImagem {
  background: url("../../../assets/Imagens/karate01.jpg") no-repeat center;
  background-size: cover;
}

// Hover nos campos Input
input:hover {
  border-color: #28a745;
  transition-delay: 0.1s;
}

// Mudando a classe do Bootstrap
.form-control:focus {
  border-color: rgba(30, 255, 0, 0.63) !important;
  box-shadow: 0 0 0 0.2rem rgba(51, 160, 37, 0.507) !important;
}

// Validacoes dos campos
.ng-invalid.ng-touched:not(form){
  border: 1px solid red;
}

.invalid-feedback{
  display: inline!important;
}
