<div class="row">
  <!-- Lateral direita com tabela -->
  <div class="col-md-12 col-sm-12">
    <div class="divTopoTabela">
      <button
        class="btn btn-outline-info my-2 my-sm-0"
        [routerLink]="['/novaPessoa']"
        data-toggle="tooltip"
        data-placement="top"
        title="Clique aqui para cadastrar um novo usuário."
      >
        Novo usuário
      </button>
    </div>
    <div class="divTabela table-responsive">
      <!-- Tabela com os dados -->
      <table class="table table-fluid table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">E-mail</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of obterUsuarios()">
            <td scope="row">{{ pessoa.nome }}</td>
            <td scope="row">{{ pessoa.cpf | mascaraCpf }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.dataNascimento }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-info"
                [routerLink]="['/novaPessoa', pessoa.cpf]"
              >
                Alterar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" id="1" (click)="pagination($event)">1</a></li>
        <li class="page-item"><a class="page-link" (click)="pagination($event)">2</a></li>
        <li class="page-item"><a class="page-link" (click)="pagination($event)">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>
