.formulario {
  max-width: 20em;
  margin: 0 auto;
}

// Div Logo
.logo {
  margin: 0 auto;

  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;

  max-width: 32em;
  max-height: 30em;
}

// Efeito da imagem
.logo img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 16px 60px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

// Div com Botao e Spinner
.rowBtn {
  margin: 0 !important;
}

.spinner-border {
  margin-left: 2em;
}

// Link esqueceu senha
.esqueceuSenha{
  float: right;
  font-size: 12px;

  color: blue!important;
  cursor: pointer;
}
